<div id="RightProduct">
    <div id="Support">
        <div id="img_Support"></div>

        <div id="Contact_Support">
            @if (int.Parse(DateTime.Now.Hour.ToString()) > 0 && int.Parse(DateTime.Now.Hour.ToString()) < 7)
            {<span class="Hotline"><span></span> @Model.HotlineOUT</span> }
            else if (int.Parse(DateTime.Now.Hour.ToString()) >= 7 && int.Parse(DateTime.Now.Hour.ToString()) < 19)
            {
                <span class="Hotline"><span></span> @Model.HotlineIN</span>
            }
            else if (int.Parse(DateTime.Now.Hour.ToString()) >= 19 && int.Parse(DateTime.Now.Hour.ToString()) < 22)
            {
                <span class="Mobile_Company">Điện thoại : @Model.MobileOUT - Hotline :@Model.HotlineOUT</span>

            }
            else if (int.Parse(DateTime.Now.Hour.ToString()) >= 22 && int.Parse(DateTime.Now.Hour.ToString()) < 25)
            {
                <span class="Mobile_Company">Điện thoại : @Model.MobileOUT - Hotline :@Model.HotlineOUT</span>
            }

            <span class="Mobile"><span></span> @Model.MobileIN</span>
            <span class="Email"><span></span> @Model.Email</span>
            <span class="Address"><span></span> @Model.Address</span>
        </div>
        <div id="ListSupport">
            <span class="httt">Hỗ trợ trực tuyến</span>
            @Html.Raw(ViewBag.chuoisupport)

        </div>
    </div>

    <div id="ProductLienquan">
        <div class="nVar_Left">
            <span>Sản phẩm được xem nhiều nhất</span>
        </div>
        <div id="ContentProductlienquan">
            @Html.Raw(ViewBag.chuoiproduct)


        </div>
    </div>
</div>
