@model TOTO.Models.tblConfig
<div id="Services">
    <div class="Tear_Chinhhang">
        <span class="Name">Chỉ bán hàng TOTO chính hãng</span>
        <span class="Des">
            Bởi vì chúng tôi là chính hãng TOTO, Sản
            phẩm nguồn gốc, xuất xứ sản phẩm rõ ràng
        </span>
    </div>
    <div class="Tear_Dichvu">
        <span class="Name">Dịch vụ chăm sóc khách hàng</span>
        <span class="Des">
            Chúng tôi luôn cam kết dịch vụ chăm sóc
            khách hàng trước và sau bán hàng tốt nhất.
        </span>
    </div>
    <div class="Tear_Muahang">
        <span class="Name">Mua hàng đơn giản thuận tiện</span>
        <span class="Des">
            Khách hàng luôn hài lòng bởi thủ tục mua
            hàng đơn giản, thuận tiện của chúng tôi.
        </span>
    </div>
</div>
<div class="Clear"></div>
<div class="Line_ft"></div>
<div class="Clear"></div>
<div id="List_Info">
    <div class="Tear_Info">
        <span class="Name">Thông tin về TOTO</span>
        <div class="line_Bo"></div>
        <a href="/Lien-he" title="Liên hệ" rel="nofollow">› Thông tin liên hệ</a>
        <a href="/2/Tin-tuc" title="tin tức">› Tin tức mới</a>
        <a href="/Catalogues" title="Calotagues" rel="nofollow">› Tải về Catalogues</a>
        <a href="/2/Cong-nghe-san-pham" title="Công nghệ sản phẩm" rel="nofollow">› Công nghệ sản phẩm mới</a>
        <a href="/2/He-thong-phan-phoi" title="Hệ thống phân phối" >› hệ thống phân phối</a>
    </div>
    <div class="Tear_Info">
        <span class="Name">Những điều bạn cần biết</span>
        <div class="line_Bo"></div>
        <a href="/vn/home/tin-tuc/chinh-sach-bao-hanh-thiet-bi-ve-sinh-toto_89.html" title="Quy định bảo hành" rel="nofollow">› Quy định Bảo hành</a>
        <a href="/vn/home/tin-tuc/chinh-sach-van-chuyen-giao-hang_88.html" title="Quy định giao hàng" rel="nofollow">› Quy định giao hàng</a>
        <a href="/vn/home/tin-tuc/quy-dinh-thanh-toan_87.html" title="Quy định thanh toán" rel="nofollow">› Quy định thanh toán</a>
        <a href="/vn/home/tin-tuc/chinh-sach-doi-tra-va-hoan-tien_90.html" title="Quy định đổi trả hàng" rel="nofollow">› Quy định đổi trả hàng</a>
        <a href="/vn/home/tin-tuc/chinh-sach-bao-mat-thong-tin_91.html" title="Chính sách bảo mật" rel="nofollow">› Chính sách bảo mật</a>

    </div>
    <div class="Tear_Info-1">
        <span class="Name">Chỉ dẫn mua hàng</span>
        <div class="line_Bo"></div>
        <span class="Location"><span class="icon"></span> Showroom TOTO : @Model.Address</span>
        <span class="Hotline"><span class="icon"></span> Hotline : 
            @if (int.Parse(DateTime.Now.Hour.ToString()) > 0 && int.Parse(DateTime.Now.Hour.ToString()) < 7)
            {

                <span>@Model.HotlineOUT</span>

            }
            else if (int.Parse(DateTime.Now.Hour.ToString()) >= 7 && int.Parse(DateTime.Now.Hour.ToString()) < 19)
            {

                <span>@Model.HotlineIN</span>
            }


            else if (int.Parse(DateTime.Now.Hour.ToString()) >= 19 && int.Parse(DateTime.Now.Hour.ToString()) < 25)
            {
                <span>@Model.HotlineOUT</span>

            }
       
        
        </span>
        <span class="Phone"><span class="icon"></span> Điện thoại bàn : <span>@Model.MobileIN</span></span>
        @Html.Raw(ViewBag.result)
        <span class="Email"><span class="icon"></span> Email : <span>@Model.Email</span></span>
    </div>
    <div class="Tear_Info_2">
        <span class="Name">Đăng ký chương trình khuyến mại</span>
        <div class="line_Bo"></div>
@using (Html.BeginForm("Command", "Footter", FormMethod.Post))
{
        <div class="Content_ft">
            <span class="Des">
                Nếu bạn chưa mua sản phẩm khi chương  trình
                khuyến mại diễn ra thì hình thức  “ĐĂNG KÝ CHƯƠNG
                TRÌNH KHUYẾN MẠI” sẽ giúp bạn giữ được giá tại
                thời điểm khuyến mại !
            </span>
            <div class="Row">
                <div class="col_1">Họ và tên :</div>
                <div class="col_2"><input type="text"   name="txtName" id="txtName" /></div>
            </div>
            <div class="Row">
                <div class="col_1">Điện thoại :</div>
                <div class="col_2"><input type="text"   name="txtHotline" id="txtHotline" /></div>
            </div>
            <div class="Row">
                <div class="col_1">Kiểu đăng ký :</div>
                <div class="col_2">
                    <select id="selectcate" name="selectcate">
                        <option value="0">Đăng ký nhận mail</option>
                        <option value="1">Đăng ký giữ giá</option>
                    </select>
                </div>
            </div>
            <div class="Row">
                <button type="submit" id="btnSend" name="btnSend">Đăng ký</button>
            </div>
        </div>
}
    </div>
    <div class="Clear"></div>
 
</div>
<div class="Clear"></div>
<div class="Clear"></div>
<div id="Authorship" style="width:100%; height:21px; float:left; margin:2px 0px; text-align:center">
    <nav>
     @Html.Raw(Model.DMCA)
        <a href="https://plus.google.com/@Model.Authorship?rel=author" title="Google aduthorship"><img src="~/Content/Display/iCon/GoogleAuthorShip.png" alt="Đăng ký google authorShip" /></a>
    </nav>
    <div class="Clear"></div>
</div>
<div class="Clear"></div>
<div class="Clear"></div>
<div id="Maps_Homes">
@Html.Raw(ViewBag.maps)    
    <div class="Clear"></div>
</div>
<div class="Line_ft"></div>
<div id="Footter">
     
    <div id="LinkURL">
        @Html.Raw(ViewBag.chuoi)
    </div>
    <div style="opacity:0.01"> <a href="http://binhnonglanh.top" title="Bình nóng lạnh" style="color:#13439c; font-size:5px">www.Binhnonglanh.top</a>,<a href="http://Thayloilocnuoc.com" title="Thay lõi lọc nước tại nhà" style="color:#13439c; font-size:5px">Thay lõi lọc nước tại nhà</a>, với sản phẩm <a href="http://Viglaceravietnam.com" title="Thiết bị vệ sinh Viglacera" style="color:#13439c; font-size:5px">Thiết bị vệ sinh Viglacera</a> với <a href="http://Loiloc.com" title="Lõi lọc nước giá rẻ" style="color:#13439c; font-size:5px">Lõi lọc nước giá rẻ</a></div>
    <div class="Clear"></div>
</div>
@if(Request.Browser.IsMobileDevice==false)
  {@Html.Raw(Model.CodeChat)

    <script>
    try {
        var Tat_quangcao = localStorage.getItem("Tat_quangcao");
        if (Tat_quangcao != null) {
            if ((new Date).getDate() == new Date(parseInt(localStorage.getItem("Tat_quangcao"))).getDate()) {
                open_motog = false;
            }
        }
    } catch (e) { console.log(e) }

    function Tatquangcao(obj) {
        $(obj).parent().remove();
        try {

            $('#Top_Banner').css({ 'height': '32px' });
            $('#Content_Top_Banner').css({ 'position': 'relative', 'display': 'block' });
            $('#adw').html();

            localStorage.setItem("Tat_quangcao", (new Date).getTime())
        } catch (e) { console.log(e); }
    }
</script>
     <style>
        #adwfooter {
            width: 100%;
            height: auto;
            float: left;
            margin: 0px;
            border-bottom: 1px solid #dddddd;
            position: fixed;
            bottom: 0px;
        }

        #Banner_footer {
            bottom: 0px;
            z-index: 10;
            width: 100%;
            height: auto;
            float: left;
        }

        #Content_Banner_Footer {
            width: 1200px;
            height: auto;
            margin: 0px auto;
            position: relative;
            overflow: hidden;
        }

            #Content_Banner_Footer span {
                font-size: 20px;
                text-align: center;
                display: inline-block;
                width: 20px;
                height: 20px;
                position: absolute;
                right: 0;
                top: 0;
                background-color: #333;
                color: #FFF;
                cursor: pointer;
                z-index: 99;
                line-height: 20px;
            }

            #Content_Banner_Footer a {
                float: left;
                margin: 0px;
                display: block;
            }
    </style>
    if(ViewBag.Chuoiimg != null && ViewBag.Chuoiimg!="")
    {
        <div id="adwfooter">
        <div id="Banner_footer">
            <div id="Content_Banner_Footer">
                <span onclick="Tatquangcao(this)">×</span>
                
                @Html.Raw(ViewBag.Chuoiimg)
            </div>
        </div>
    </div>
    }

}

 @{Html.RenderAction("MenuMobine", "Footter");}
 
